name: Continuous Deployment(CD) Frontend
on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/Dockerfile.frontend
          push: true
          tags: vivekdshah/doodleart-fe-app:${{ github.sha }}
          build-args: |
            HTTP_URL=${{ secrets.HTTP_URL }}
            WS_URL=${{ secrets.WS_URL }}
            FE_URL=${{ secrets.FE_URL }}
